/* common styles */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --secondary-color: #2196f3;
  --title-main-color: #212121;
  --footer-background-color: #2f303a;
  --icon-color: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  color: var(--title-main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus,
.button:active {
  background: #188ce8;
}

/* main page style */
/* header style */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header-logo {
  color: #000;
  margin-right: 93px;
}
.logo-colored {
  color: var(--secondary-color);
}
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list_item:not(:last-child) {
  margin-right: 50px;
}
.nav-list {
  display: flex;
}
.nav-link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.nav-link,
.contact-header,
.contact-footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-color);
}

.current {
  color: var(--secondary-color);
}
.current::after {
  content: "";
  display: block;
  bottom: -13px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.contact-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.contact-header {
  font-weight: 500;
  line-height: 1.14;
  color: inherit;
  display: flex;
  align-items: center;
}
.contact-header:hover,
.contact-header:focus,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--secondary-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
/* main style */
/* hero-section */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero_img.jpg");
  background-color: var(--footer-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-button {
  width: 216px;
  height: 50px;
}

/* about-section */

.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.icon-section {
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* doing-section */
.doing-section {
  padding-top: 0;
}
.doing-list {
  display: flex;
  justify-content: space-between;
}
.doing-item {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
/* team section */
.team-section {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-card {
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-profile {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-main-color);
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-occupation {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card .social-link {
  color: var(--icon-color);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}
/*clients section*/
.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.clients-icon {
  fill: currentColor;
}

/* footer style */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  font-style: normal;
}
.footer-content {
  display: flex;
  align-items: baseline;
  column-gap: 93px;
}

.footer-address {
  font-style: normal;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-title {
  font-size: inherit;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer-social-list {
  display: flex;
  column-gap: 10px;
}
.footer-links {
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
/*subscription*/
.subscription-form {
  display: flex;
  column-gap: 12px;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--secondary-color);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 10px 28px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

/* portfolio page style */
/* main page style */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}
.portfolio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--secondary-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:active {
  background: #89c0ec;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.portfolio-item {
  width: calc((100% - 60px) / 3);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-link:hover .card-overlay,
.portfolio-link:focus .card-overlay {
  transform: translateY(-100%);
}
.thumb-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/*-------modal window-------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-form {
  margin-top: 12px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  text-align: center;
}
.form-item {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
}
.form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-input:hover,
.form-input:focus,
.form-input:focus {
  border: 1px solid var(--secondary-color);
}
.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--secondary-color);
}

.form-comment {
  resize: none;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  height: 120px;
  padding: 12px 16px;
  color: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:hover,
.form-comment:focus {
  border-color: var(--secondary-color);
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.policy-text {
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-main-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-link {
  color: var(--secondary-color);
}
.policy-link:visited {
  color: var(--main-text-color);
}
.policy-check {
  appearance: none;
}
.policy-check:checked ~ .icon-check {
  background-image: url(../images/icon-check.svg);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.send-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -100%);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  color: var(--secondary-color);
}
