/* common styles */
body {
  
font-family: 'Roboto', sans-serif;
 font-size: 14px;
 color: var(--main-text-color);
}
a {
   text-decoration: none;
}

:root {
--main-text-color: #757575;
--secondary-color: #2196F3;
}
.title {
   font-weight: 700;
   color: #212121;
}
ul {
   list-style: none;
}

/* main page style */
/* header style */
.logo {
   color: #000000 ;
   font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      text-decoration: none;

}
.logo-colored{
 color: var(--secondary-color);
}
.nav-link {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.nav-link:hover,
.nav-link:focus {
   color: var(--secondary-color);
}
.contact-header {
   font-weight: 500;
   line-height: 1.14;
  color: inherit; 
}
.contact-header:hover,
.contact-header:focus,
.contact-footer:hover,
.contact-footer:focus{
   color: var(--secondary-color);
}
/* main style */
/* hero-section */
.hero {
   background-color: #2F303A;
}
.hero-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
}
.hero-button {
   font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      text-align: center;
      letter-spacing: 0.06em;
      background: var(--secondary-color);
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
         color: #FFFFFF;
         cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
   background: #69AFE7;
}

.hero-button:active {
   background: #0161AC;
}
/* about-section */
.about-title {
   font-size: 14px;
   line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
}
.about-text {
 
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.specialty-title,
.team-title {
      font-size: 36px;
      line-height:1.16;
      text-align: center;
      letter-spacing: 0.03em;
}
.team-name {
   font-size: 16px;
   font-weight: 500;
   color: #212121;
      line-height: 1.18;
      letter-spacing: 0.03em;
}
.team-occupation {
      font-size: 16px;
      line-height: 1.18;

      letter-spacing: 0.03em;
}
/* footer style */
.address{
   font-style: inherit;
   background-color: #2F303A;
}
.contact-footer{
   color: rgba(255, 255, 255, 0.6);
   line-height: 1.71;
      letter-spacing: 0.03em;
   }

.address-text{
   color: #FFFFFF;
line-height: 1.71;
   letter-spacing: 0.03em;
}

/* portfolio page style */
/* main page style */
.portfolio-button {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   background: #F5F4FA;
   border-radius: 4px;
   cursor: pointer
}
.portfolio-button:hover,
.portfolio-button:focus {
   background: var(--secondary-color);
}
.portfolio-button:active {
   background: #89C0EC;
}
.portfolio-title {
   font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: #212121;
}
.portfolio-type {
font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
}