body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $main-text-color;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.title {
  font-weight: 700;
  color: $title-main-color;
}
.section-title {
  margin-bottom: 30px;
  font-size: 28;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  @media (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 30px;
    line-height: 1.16;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-list__link--current {
  @media (max-width: 768px) {
    color: $secondary-color;
  }

  &::after {
    content: "";
    display: none;
    bottom: -14px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $secondary-color;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1200px) {
      bottom: -13px;
    }
  }
}
