.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header__logo {
  flex-grow: 0;
  color: #000;
  margin-right: 88px;
  @media (min-width: 1200px) {
    margin-right: 92px;
  }
}
.logo--colored {
  color: $secondary-color;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $secondary-text-color;
}
