.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header__logo {
  color: #000;
  margin-right: 93px;
}
.logo__colored {
  color: $secondary-color;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $secondary-text-color;
}
