.section--background-gray {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $secondary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $title-main-color;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
