.btn {
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: none;
  color: black;
  font-size: 14px;
  line-height: 1.21;
  background: none;
}
.btn--main {
  background-color: #f8d24e;
  border-radius: 10px;
  padding: 12px 34px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: white;
  }
  &:disabled {
    background-color: #ababab;
  }
}
.btn--transparent {
  border: 2px solid #f8d24e;
  background-color: transparent;
  padding: 12px 34px;
  border-radius: 10px;
  line-height: 1.29;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    border-color: #0a8817;
    color: white;
  }
  &:disabled {
    border-color: #ababab;
  }
}
.btn--underlined {
  font-size: 8px;
  line-height: 1.25;
  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }
  color: #f8d24e;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #0a8817;
  }
  &:focus {
    color: white;
  }
  &:disabled {
    color: #ababab;
  }
}
.btn__header {
  & .btn__icon {
    margin-left: 6px;
  }
}
.btn__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background-color: transparent;
  font-size: 8px;
  line-height: 1.25;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: #0a8817;
  }
  &:focus {
    border-color: #0a8817;
    color: white;
  }
  &:disabled {
    border-color: #ababab;
  }
  @media (min-width: 1200px) {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.btn__modal {
  font-size: 12px;
  line-height: 1.25;
  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
.btn__about {
  display: inline-block;
  line-height: 1.29;
  & .btn__icon {
    margin-left: 6px;
  }
}
.btn__сontacts {
  width: 196px;
  height: 42px;
  line-height: 1.29;
  & .btn__icon {
    margin-left: 6px;
  }
}
